PONDER_RPC_URLS_1=
PONDER_RPC_FALLBACK_URLS_1=https://rpc.flashbots.net
PONDER_WS_URL_1=
PONDER_RPC_REQUESTS_PER_SECOND_1=2
PONDER_ETH_GET_LOGS_BLOCK_RANGE_1=250
VESSEL_INDEXER_START_BLOCK=
VESSEL_INDEXER_END_BLOCK=
WORK_UNIT_INDEXER_START_BLOCK=
WORK_UNIT_INDEXER_END_BLOCK=

DATABASE_URL=postgresql://vessel:vessel@localhost:5470/vessel
